<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleRegistration</servlet-name>
    <servlet-class>edu.bupt.servlets.HandleRegistration</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>edu.bupt.servlets.HandleLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandlePeopleAround</servlet-name>
    <servlet-class>edu.bupt.servlets.HandlePeopleAround</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleDownloadImage</servlet-name>
    <servlet-class>edu.bupt.servlets.HandleDownloadImage</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>HandleRegistration</servlet-name>
    <url-pattern>/HandleRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePeopleAround</servlet-name>
    <url-pattern>/HandlePeopleAround</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleDownloadImage</servlet-name>
    <url-pattern>/HandleDownloadImage</url-pattern>
  </servlet-mapping>
    <listener>
        <listener-class>edu.bupt.util.MyServletContext</listener-class>
    </listener>
    
    
      

</web-app>